{% extends '_layout.html' %}

{% block content %}
{% for user in users %}
<div class="card" style="width: 18rem;">
    <a href="{{url_for('users.show', username=user.name)}}">{{user.name}}</a>
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{user.name}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="{{url_for('users.show', username=user.name)}}" class="btn btn-primary">Visit</a>
    </div>
  </div>

{% endfor %}
{% endblock %}